{% extends "ftp/base.html" %}
{% load static %}

{% block content %}

<style>
.container {
    grid-gap: 50px;
  }
</style>

<p class="h1">My Folders</p>
    <div class="container" style="display: flex;">

    
    {% if context %}
    {% for i in context%}
    
    <div style="display: flex; flex-direction: column;">
    <a href="{% url 'ftp:display_folder-page' pk=i.name %}" >
        <i class="fa-solid fa-folder" style="font-size: 4rem; color: rgb(111, 111, 206);"></i>
    </a>
    <span>
        {{ i.name }}
        {{object.name}}
    </span>
    <span style="line-height:50%">
        <a href="{% url 'ftp:delete-folder' pk=i.name%}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    
    </span>
</div>    

    {% endfor %}
    {% endif %}
</div>


{% endblock %}